@font-face {
    font-family: "Roboto" ;
    src: url("../Fonts/Roboto-2/Roboto-Medium.ttf") format("truetype");

    font-family: "Roboto Regular";
    src:url("../Fonts/Roboto-2/Roboto-Regular.ttf") format("truetype");

    font-family: "Roboto bold";
    src: url("../Fonts/Roboto-2/Roboto-Bold.ttf") format("truetype");
}


h1,
h2,
h3,
.cta,
.cta-buttons {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2em;
}

p {
    font-family: "Roboto Regular", Arial, Helvetica, sans-serif;
}

body,
html {
    max-height: 100%;
    margin: 0%;
    padding: 0%;
}

main{
    min-height: 100vh;
}


.home {
    text-decoration: underline;
}

.logo {
    max-width: 150px;
    float: left;
}

header,
footer {

    background-color: #000;
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header a,
footer a {
    color: #fff;
    align-items: center;
    text-decoration: none;
}

header search input{
    background-color: #c7c7c7;
    color:#444447 ;
    outline: none;
    border: 1px solid;
    border-radius: 0.5rem;
}

nav li {
    font-family: "Roboto ", Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    display: inline-block;
    padding: 1.5rem;
    
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.checkout-container {
    font-family: "Roboto ", Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

button.checkout-icon {
    border: 0;
    font-size: 150%;
    padding: 1rem;
    display: none;
    background-color: #000;
}

.search-button {
    background-color: #000;
    color: #fff;
}

.search {
    margin-left: 2rem;
}

.search-container-desktop {
    display: block;
}

.search-container-desktop ::placeholder {
    color: #000;
}

.search-container {
    position: relative;
    display: none;
}

.search-input {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}

.search-button {
    cursor: pointer;
    border: 0;
    font-size: 24px;
}

.search-button:focus + .search-input {
    display: block;
}


.dropdown {
    display: flex;
    flex-direction: column;
}

.menu {
    position: fixed;
    right: 0;
    z-index: 1;
    width: 100vw;
}

.hamburger {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 30px;
    margin: 20px;
    justify-content: space-between;
}

.menu {
    list-style: none;
    padding: 1rem;
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #000;
    width: 200px;
    z-index: 2;
}

.menu-toggle {
    margin-right: 1rem;
    display: none;
}

.menu li {
    margin-bottom: 1rem;
}

.line {
    background-color: #000;
    width: 100%;
    height: 3px;
}

input[type="checkbox"] {
    display: none;
  }

label {
    display: block;
    cursor: pointer;
}

label span {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background: #fff;
    transition: 0.4s;
}

input:checked + label span:nth-child(2) {
    opacity: 0;
}

input:checked + label span:nth-child(1) {
    transform: rotate(45deg) translate(-5px, 6px);
}


input:checked + label + .menu {
    display: block;
}


.banner-home {
    background-image: url("../Images/couple-trekking-through-rain-highlands.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    padding-top: 30px;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.banner-home span {
    color: #99DB2F;
}

.banner-text,
h1,
.cta {
    margin-left: 1rem;
    position: relative;
    z-index: 2;
}

.banner-text,
h1{
    margin-left: 1rem;
}
.banner-text{
    margin-bottom: 4rem;
}

button{
    background-color: #000;
    color: #fff;
}

.cta {
    font-size: 1.2em;
    text-decoration: none;
    padding: 0.8rem;
    border-style: solid;
    border-width: 0.2rem;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    margin-left: 1rem;
}

.shop-options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.shop-men{
    text-align: center;
    margin-right: 1rem;
}
.men{
    max-width: 19rem;
    margin-bottom: 1rem;
    margin-top: 5rem;
    border-style: solid;
    border-color: #000;
}

.shop-women{
    text-align: center;
    margin-right: 1rem;
}
.women{
    max-width: 19rem;
    margin-bottom: 1rem;
    margin-top: 5rem;
    border-style: solid;
    border-color: #000;
}

.shop-all{
    text-align: center;
    margin-right: 1rem;
}
.all{
    max-width: 19rem;
    margin-bottom: 1rem;
    margin-top: 5rem;
    border-style: solid;
    border-color: #000;
}


figcaption{
    background-color: #000;
    text-transform: uppercase;
    padding: 0.5rem;
    font-family: "Roboto Regular", Arial, Helvetica, sans-serif;
    margin-left: 4rem;
    margin-right: 4rem;
}
figcaption a{
    color: #fff;
    text-decoration: none;
}



.last-section {
    display: flex;
    z-index: 1;
    position: relative;
    margin-bottom: 25rem;
    margin-top: 5rem;
}

.sale {
    width: 100%;
    height: auto;
    background: #000;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    color: white;
    overflow: hidden;
}

.sale {
    margin-right: 1rem;
}

.shop-sale,
.shop-best {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-family: "Roboto Regular", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    border-color: #fff;
    margin-top: 20rem;
}


.best {
    width: 100%;
    height: auto;
    background: #000;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    color: white;
}

.sale .img-sale {
    background: url(../Images/original/september\ sale.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 25rem;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(60%);
}

.sale-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.best .img-best {
    background: url(../Images/original/best\ sellers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 25rem;
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(60%);
}

.sale,
.best {
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
}
.sale span{
    color: #faff00;
    text-transform: uppercase;
}

.best span {
    color: #faff00;
}

.img-sale,
.img-best {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 50%;
    height: 100vh;
}

h2 {
    margin-top: -5rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1,
.banner-text {
    color: #fff;
}

.banner- span {
    color: #99DB2F;
}

.shop-options img {
    filter: brightness(80%);
}

.email {
    color: white;
}

footer {
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    position: relative;
}

footer nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type:none ;
    padding: none;
}

footer .follow-us {
    margin-top: -1.2rem;
    margin-left: 2rem;
}

footer .follow-us i {
    margin-left: 1rem;
}

footer .news {
    margin-top: 3rem;
    margin-bottom: 4rem;
}

footer .news input {
    border: 1px solid #fff;
    padding: 0.2rem;
}

footer .email {
    background-color: #000;
    color: #fff;
}


footer .copyright {
    margin-bottom: 3rem;
}

@media screen and (max-width: 954px) {

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button.checkout-icon,
button.search,
button.burger {
    display: inline-flex;
}


.display-desktop {
    display: none;
}
.button {
    margin-left: 2rem;
}

.shop-options {
    display: block;
}

.shop-button {
    max-width: 30%;
    text-align: center;
    margin: 0 auto;
}

.last-section {
    display:block;
    background-size: 100%;
    max-width: 50%;
    margin-left: 25%;
}

.sale {
    margin-top: 30%;
    margin-bottom: 80%;
}


.news{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.follow-us {
    margin-left: -1em;
}


.products {
    margin-left: -7rem;
}

.copyright {
    margin-top: 4rem;
    display: flex;
    text-align: center;
    justify-content: center;
}

footer input {
    background-color: #000;
    
}

.search-button {
    display: inline-block;
}

.search-container {
    display: block;
}

.menu-toggle{
    display: block;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
footer nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .follow-us {
    margin-top: -1.2rem;
    margin-left: 3rem;
}

.logo-footer {
    max-width: 400px;
    margin-top: 2rem;
}
}
