@font-face {
    font-family: "Roboto" ;
    src: url("../Fonts/Roboto-2/Roboto-Medium.ttf") format("truetype");

    font-family: "Roboto Regular";
    src:url("../Fonts/Roboto-2/Roboto-Regular.ttf") format("truetype");

    font-family: "Roboto bold";
    src: url("../Fonts/Roboto-2/Roboto-Bold.ttf") format("truetype");
}

.logo{
    max-width: 150px;
}

h1,
h2,
h3,
.back-black,
.extreme {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}
p {
    font-family: "Roboto Regular", Arial, Helvetica, sans-serif;
}


header,
footer {

    background-color: #000;
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header a,
footer a {
    color: #fff;
    align-items: center;
    text-decoration: none;
}
.checkout{
    text-decoration: underline;
}

header search input{
    background-color: #c7c7c7;
    color:#444447 ;
    outline: none;
    border: 1px solid;
    border-radius: 0.5rem;
    padding: 0.25rem;
}

nav li {
    font-family: "Roboto ", Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    display: inline-block;
    padding: 1.5rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



.checkout-container {
    font-family: "Roboto ", Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

button.checkout-icon {
    border: 0;
    font-size: 150%;
    padding: 1rem;
    display: none;
    background-color: #000;
}

.search-button {
    color: #fff;
    background-color: #000;
}

.search {
    margin-left: 2rem;
}

.search-container-desktop {
    display: block;
}

.search-container-desktop ::placeholder {
    color: #000;
}


.search-container {
    position: relative;
    display: none;
}

.search-input {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}

.search-button {
    cursor: pointer;
    border: 0;
    font-size: 24px;
}

.search-button:focus + .search-input {
    display: block;
}


.dropdown {
    display: flex;
    flex-direction: column;
}

.menu {
    position: fixed;
    right: 0;
    z-index: 1;
    width: 100vw;
}

.hamburger {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 30px;
    margin: 20px;
    justify-content: space-between;
}

.menu {
    list-style: none;
    padding: 1rem;
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #000;
    width: 200px;
    z-index: 2;
}

.menu-toggle {
    margin-right: 1rem;
    display: none;
}

.menu li {
    margin-bottom: 1rem;
}

.line {
    background-color: #000;
    width: 100%;
    height: 3px;
}

input[type="checkbox"] {
    display: none;
  }

label {
    display: block;
    cursor: pointer;
}

label span {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background: #fff;
    transition: 0.4s;
}

input:checked + label span:nth-child(2) {
    opacity: 0;
}

input:checked + label span:nth-child(1) {
    transform: rotate(45deg) translate(-5px, 6px);
}

input:checked + label + .menu {
    display: block;
}

body{
    margin: 0%;
    padding: 0%;
 }

 .summary {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.summary-text {
    display: block;
}

.fa-pen-to-square {
    float: right;
    margin-top: -3rem;
    margin-right: 1rem;
}

img {
    width: auto;
    max-width: 200px;
    max-height: 200px;
    margin-right: 2rem;
    margin-top: 2.4rem;
    margin-bottom: 2rem;
}

 .right-summary {
    flex: 1;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}

.edit,
h4 {
    display: inline-flex;
}

.edit {
    margin-left: 1rem;
    margin-right: 1rem;
}

.price span,
.size span {
    margin-right: 6rem;
}

.size {
    border-bottom: 1.5px solid black;
}

.large {
    text-transform: uppercase;
    margin-left: 0.8rem;
}

.subtotal span {
    margin-right: 4.5rem;
}

.subtotal {
    margin-top: 2rem;
}

.total span {
    margin-right: 3.4rem;
}

.size {
    width: 11rem;
 }

button{
   margin-left: 0.5rem;
    background-color: #DCDCDC;
    color: #000;
    width: 60%%;
    padding: 0.5rem;
    margin-top: 1.5rem;
    font-size: medium;
}

.span {
    font-weight: 600;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
 }

 footer {
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    position: relative;
}

footer nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type:none ;
    padding: none;
}

footer .follow-us {
    margin-top: -1.2rem;
    margin-left: 2rem;
}

footer .follow-us i {
    margin-left: 1rem;
}

footer .news {
    margin-top: 3rem;
    margin-bottom: 4rem;
}

footer .news input {
    border: 1px solid #fff;
    padding: 0.2rem;
}

footer .email {
    background-color: #000;
    color: #fff;
}


footer .copyright {
    margin-bottom: 3rem;
}

@media screen and (max-width: 954px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    button.checkout-icon,
    button.search,
    button.burger {
        display: inline-flex;
    }
    
    .search-button {
        display: inline-block;
    }
    
    .search-container {
        display: block;
    }
    
    .menu-toggle{
        display: block;
    }
    
    .display-desktop {
        display: none;
    }
    .button {
        margin-left: 2rem;
    }
    
    .shop-options {
        display: block;
    }
    
    .shop-button {
        max-width: 30%;
        text-align: center;
        margin: 0 auto;
    }
    
    .last-section {
        display:block;
        background-size: 100%;
        max-width: 50%;
        margin-left: 25%;
    }
    
    .sale {
        margin-top: 30%;
        margin-bottom: 80%;
    }
    
    footer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    footer nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .logo-footer {
        max-width: 400px;
        margin-top: -2rem;
    }
    
    .news{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }
    
    .follow-us {
        margin-left: -1em;
    }
    
    
    .products {
        margin-left: -7rem;
    }
    
    .copyright {
        margin-top: 4rem;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    
    footer input {
        background-color: #000;
        
    }
    
    
    footer {
        z-index: 0;
        margin-bottom: 0%;
        padding: 2rem;
        
    }
    }

 